body{
    background-color: gray;

}
h1{
    color: black;
}

#p3{
   
}

.nice{
    color: white;
    font-family: sans-serif;
} 



.but:active{
    color: red;
    background-color: green;
    border: 1px solid;
    width: 100px;
    height: 100px;
}